/* import */

@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&display=swap");

/* root configuration */
* {
  font-family: "Montserrat", Helvetica, sans-serif;
  color: #04080f;
}
h1,
h2 {
  font-family: "Oswald", Helvetica, sans-serif;
  margin: 5px 0;
  font-weight: 700;
}
body {
  background: rgb(231, 241, 255);
  background: linear-gradient(
    90deg,
    rgba(231, 241, 255, 1) 0%,
    rgba(218, 227, 229, 1) 54%,
    rgba(231, 241, 255, 1) 100%
  );
  margin: 0;
}

section {
  margin: 0;
}
p {
  font-size: 18px;
  margin: 10px 0;
}
button,
input[type="submit"] {
  font-size: 20px;
}

/* page style */
nav {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  background-color: #a1c6ea;
  align-items: center;
  font-family: "Oswald", Helvetica, sans-serif;
  font-weight: 700;
}
.nav-menu {
  display: flex;
  gap: 20px;
}
.nav-menu a {
  font-style: normal;
  text-decoration: none;
  color: #507dbc;
  background-color: #bbd1ea;
  padding: 5px;
  border-radius: 5px;
}
.nav-menu a:hover {
  color: #04080f;
}
.nav-menu li {
  list-style: none;
}
.hero {
  display: flex;
  height: 50vh;
  gap: 50px;
  padding: 50px 100px;
}
.herotext {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 5px;
}
.herotext div {
  display: flex;
  gap: 30px;
}
#heroimg {
  width: 300px;
}

button,
input[type="submit"] {
  padding: 5px;
  color: #507dbc;
  background-color: #bbd1ea;
  padding: 5px 10px;
  border-radius: 5px;
  border: solid 2px #507dbc;
  font-weight: 700;
}
button:hover,
input[type="submit"]:hover {
  color: #04080f;
  border-color: #04080f;
}
article button:hover {
  background-color: #507dbc;
}
.newsletter {
  background-color: #a1c6ea;
  padding: 20px;
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
}
.newsletter input {
  padding: 5px;
  width: 30%;
  font-size: 18px;
}
.blogpost p {
  color: #04080f;
}
.blogpost h2,
.detailed_post h1 {
  color: #507dbc;
}
.blogpost h2 {
  font-size: 1.2rem;
}
.detailed_post h1 {
  font-size: 2rem;
  text-align: center;
}

.detailed_post p {
  margin: 5px;
}

.blogpost article {
  border: solid #a1c6ea 1px;
  width: 300px;
  margin: 10px;
  padding: 5px;
  border-radius: 10px;
  background-color: #bbd1ea;
}

.detailed_post article {
  border: solid #a1c6ea 1px;
  margin: 1px;
  padding: 5px;
  border-radius: 10px;
  background-color: #bbd1ea;
}
article img {
  width: 300px;
}

#blogpost {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 30px;
}
footer {
  display: flex;
  background-color: #a1c6ea;
  margin-top: 50px;
  padding: 50px;
  justify-content: space-around;
}
footer li {
  list-style: none;
  padding: 0;
  margin-bottom: 5px;
}
footer ul {
  padding: 0;
}
footer a {
  text-decoration: none;
}
footer a:hover {
  color: #507dbc;
}
@media screen and (max-width: 768px) {
  article img {
    width: 200px;
  }

  .blogpost article {
    width: 200px;
    margin: 15px 2px;
  }
  .blogPostSection {
    max-width: 100%;
  }
  .detailed_post {
    margin: 5px 0;
  }
  .hero {
    flex-direction: column-reverse;
    height: 100%;
    align-items: center;
  }
  .hero button {
    font-size: 16px;
  }
  .herotext div {
    gap: 5px;
  }
  .herotext {
    min-width: 300px;
  }
}
